.home-container {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  
  .home-image {
    position: relative;
    overflow: hidden;
  }
  
  .home-image img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Maintain aspect ratio and fit within container */
  }
  /* .socialImage img{
    width: 100%;
    height: auto;
    object-fit: contain;
  } */
  .search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center; /* Center items vertically */
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none; /* Remove outline on focus */
  }
  
  .search-bar button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #FF533D;
    color: white;
    cursor: pointer;
    margin-left: 8px; /* Add some spacing between input and button */
  }
  
  .search-bar button:hover {
    background-color: #0056b3; /* Darker color on hover */
  }