.offer-container {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  
  .offer-image {
    position: relative;
    overflow: hidden;
  }
  
  .offer-image img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Maintain aspect ratio and fit within container */
  }
  
  /* Responsive CSS */
  /* @media screen and (max-width: 768px) {
    .footer-image img {
      width: 80%;  
    }
  }
   */